<h1 class = "red">You still need to add the 2 plays in the url </h1>
<li><a href="/rock_paper_scissors/rock">Player 1 Click here to play Rock</a></li>
<li><a href="/rock_paper_scissors/paper">Player 1 Click here to play Paper</a></li>
<li><a href="/rock_paper_scissors/scissors">Player 1 Click here to play Scissors</a></li>
