<h1 class = "blue">WELCOME to Rock Paper and scissors game</h1>
<h3 class = "instructions"> Rock paper scissors, is a hand game usually played between two people,
  in which each player simultaneously forms one of three shapes with an outstretched hand.
  These shapes are "rock" (a closed fist), "paper" (a flat hand), and "scissors" </h3>
<p> Rock wins against scissors and loose against paper</p>
<p> Scissors wins against paper and loose against rock</p>
<p> Paper wins against rock and loose against scissors</p>
<li><a href="/rock_paper_scissors">Clicke here to play</a></li>
