<h1 class = "blue">WELCOME to Rock Paper and scissors game</h1>
<p> Rock paper scissors (also known as scissors rock paper, paper rock scissors and scissors paper stone) is a hand game usually played between two people, in which each player simultaneously forms one of three shapes with an outstretched hand. These shapes are "rock" (a closed fist), "paper" (a flat hand), and "scissors" </p>
<p> Rock wins against scissors and loose against paper</p>
<p> Scissors wins against paper and loose against rock</p>
<p> Paper wins against rock and loose against scissors</p>
