.body {
  margin-left: 30%
  padding: 20;
  top: 20%;
  height: 400px;
  width: 600px
  left: 40%;
  background: papayawhip;
}

.blue {
  color: darkblue;
}

.red {
  color: darkred;
}
.instructions{
  margin:0;
  padding:0;
  height: 20%;
  width: 60%
}
